<div class="top-content">
    <nav>
        <a routerLink="/" routerLinkActive="active">Home</a>
        <a routerLink="/teacher-form" routerLinkActive="active">Our teachers</a>
        <a routerLink="/class-reactive-form" routerLinkActive="active">Our classes</a>
        <a routerLink="/student-list" routerLinkActive="active">Our students</a>
    </nav>

    <!-- <h1>{{str}}</h1> -->
</div>

<div class="content">
    <!-- <h1>Welcome to Our School!</h1> -->
    <router-outlet></router-outlet>
</div>

<div class="icons">
    <span class="material-icons">{{ 'home' | icon }}</span>
    <span class="material-icons">{{ 'help' | icon }}</span>
</div>