<div class="top-content">
    <nav>
        <a routerLink="/" routerLinkActive="active">Home</a>
        <a routerLink="/teacher-form" routerLinkActive="active">Our teachers</a>
        <a routerLink="/class-reactive-form" routerLinkActive="active">Our classes</a>
        <a routerLink="/student-list" routerLinkActive="active">Our students</a>
        <a routerLink="/show-course" routerLinkActive="active">Our courses</a>
        <a routerLink="/show-diets" routerLinkActive="active">Api-dotnet</a>
    </nav>
</div>
<div class="content">
    <router-outlet></router-outlet>
</div>

<div class="icons">
    <span class="material-icons">{{ 'home' | icon }}</span>
    <span class="material-icons">{{ 'help' | icon }}</span>
</div>