<form [formGroup]="teacherForm" (ngSubmit)="OnSubmit()">
    @for (teach of teachers; track teach)
    {
    {{teach.Id}}
    {{teach.Name}}<br>
    @for (item of teach.MyClasses; track $index)
    {
    {{teach.MyClasses[$index]}}
    }
    <br>
    }
    <label for="">add/update a techer</label><br>
    <label for="Id">Id:</label>
    <input type="number" id="Id" formControlName="Id" required><br>
    <label for="Name">Name:</label>
    <input type="text" id="Name" formControlName="Name" required><br>
    <label for="Class">Class:</label>
    <input type="text" id="Class" formControlName="Class"  required>
    <button type="submit" [disabled]="teacherForm.invalid">Submit</button>

</form>