<form (ngSubmit)="OnSubmit()">
    @for (teach of teachers; track teach)
    {
    {{teach.Id}}
    {{teach.Name}}<br>
    @for (item of teach.MyClasses; track $index)
    {
    {{teach.MyClasses[$index]}}
    }
    <br>
    }
    <label for="">add/update a techer</label><br>
    Id:
    <input type="number" id="id" [(ngModel)]="teacher.Id" name="id" required><br>
    Name:
    <input id="name" [(ngModel)]="teacher.Name" name="name" required><br>
    <!-- <button onclick="classes()">add/update your classes</button> -->
    <!-- <input type="text" name="" id="num" placeholder="enter your amount of classes"> -->
    Class:
    <input id="class" [(ngModel)]="teacher.MyClasses[0]" name="myclass" required>
    <button type="submit">Submit</button>

</form>