@for (teach of teachers; track teach)
{
<div class="teacher-info">
    Id: {{teach.Id}}<br />
    Name: {{teach.Name}}<br />
    Classes:
    @for (item of teach.MyClasses; track $index)
    {
    {{teach.MyClasses[$index]}}
    }
</div>
}

<button (click)="open()">Add/Update teacher</button>
@if(it){

<form [formGroup]="teacherForm" (ngSubmit)="OnSubmit()">
    <div class="form-content">
        <p>Add/Update teacher</p>
        <div class="form-group">
            <label for="Id">Id:</label>
            <input type="number" id="Id" formControlName="Id" required /><br />

            <label for="Name">Name:</label>
            <input type="text" id="Name" formControlName="Name" required /><br />

            <label for="Class">Class:</label>
            <input type="text" id="Class" formControlName="Class" required />
            <div class="bb">
                <button type="submit" [disabled]="teacherForm.invalid">Submit</button>
                <button (click)="close()">close form</button>
            </div>

        </div>

    </div>


</form>
}