
<div>
    Id : <input  #id type="number" [value]="currentStudent?.Id"><br>
    Name :<input  #name type="text" [value]="currentStudent?.Name"><br>
    Age: <input  #age type="number" [value]="currentStudent?.Age"><br>
    Active:<input #active type="text" [value]="currentStudent?.Active"><br>
    @if (!currentStudent.Active){
        Dateleave: <span>{{currentStudent.d}}</span>
    }
    
</div>
<button (click)="saveStud(id.valueAsNumber, name.value,age.valueAsNumber, active.value)">save</button>